
#back {
    font-size: 20px;
    text-decoration: none;
    color: rgb(34, 0, 255);
}

#back:hover {
    font-size: 25px;
}

.page {
    width: 100px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 150px);
}

#trafficLight1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}

#trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}

#trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}